<!DOCTYPE html>
<html>

<head>
    <title>Grocery Shopping App</title>
    <!-- Add Bootstrap CSS CDN link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>Categories</h1>
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text">{{ category.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h1>Products</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="{{ product.image }}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="text-muted mb-4 text-center">{{ product.description }}</p>
                        <div class="d-flex justify-content-between">
                            <span>In Stock:</span><span>{{ product.quantity }}</span>
                        </div>
                        <form action="/add" method="post">
                            <input type="hidden" name="code" value={{product.id}} />
                            <div class="d-flex justify-content-between">
                                <span>Quantity</span><span><input type="text" name="quantity" value='1'
                                        size="2" /></span>
                            </div>
                            <!-- {{form.submit(class="btn btn-outline-secondary")}} -->
                            <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                <span>Price:</span><span> ${{ product.price }}</span>
                            </div>
                            <button type="type" class="btn btn-outline-secondary justify-content-center">Add to
                                cart</button>
                        </form>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery CDN links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>