<nav class="navbar navbar-expand-lg  " data-bs-theme="light"
    style="border-bottom: 1px solid grey ; padding: 10px; padding-bottom: 20px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/logo.png" alt="logo" class="border-5" height="30 " style="border:grey;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto justify-content-between w-100">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('add_user')}}">Add User</a>
                </li>


                <form class=" d-flex w-100">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu">
                        {% if user %}
                        <a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
                        <a class="dropdown-item" href="{{ url_for('logout')}}">Profile</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ url_for('Login')}}">Login</a>
                        <a class="dropdown-item" href="{{ url_for('add_user') }}">Register</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin">Admin</a>
                    </div>

                <li><button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#myModal">Cart</button></li>

                </li>

                <!-- Modal View -->
                <div class="modal" id="myModal" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    Your Cart items
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-unstyled">
                                    <!--  -->
                                    {% for product in cart_products %}
                                    <div class="col-md-6">
                                        <div class="card mb-3">
                                            <img src="{{ product.product_image }}" class="card-img-top"
                                                alt="Product Image">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.product_name }}</h5>
                                                <p class="card-text">{{ product.product_desc }}</p>
                                                <p class="card-text">Price: ${{ product.product_price }}</p>
                                                <p class="card-text">Quantity: {{ product.quantity }}</p>
                                                <p class="card-text">Subtotal: {{ product.subtotal }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </ul>

        </div>
    </div>
</nav>